.topBar{
  display: flex;
  line-height: 32px;
  padding-top: 10px;
  .reduceConins{
    color: #ffd800;
    margin-left: 8px;
  }
}
.leftBack{
  width: 18px;
  height: 32px;
}

.coinBox{
  width:121px;
  height:32px;
  background:rgba(255,216,0,1);
  border-radius:16px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  img{
    width: 23px;
    height: 23px;
    margin-left: 6px;
  }
  span{
    color: #fff;
    font-size:17px;
    font-family:Roboto-Black,Roboto;
    font-weight:900;
    color:rgba(255,255,255,1);
    letter-spacing:1px;
    // margin-left: 20px;
    width: 90px;
    text-align: center;
  }
}

.gameBox{
  padding: 0 23px;
  background:rgba(249,249,249,1);
  height: 100vh;
}

// explain
.explain{
  width:330px;
  // height:320px;
  background:rgba(255,255,255,1);
  border-radius:11px;
  padding: 15px 15px 8px;
  margin-top: 8px;
  box-shadow: 0px 0px 10px 0px rgba(181, 181, 181, 0.3);
  font-size:0;
  .levelTitle{
    font-size:20px;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(96,96,96,1);
    line-height:24px;
    letter-spacing:2px;
    height:24px;
    margin-bottom: 10px;
  }
  .idiomImg{
    width:300px;
    height:180px;
  }
  .chenyu{
    display: flex;
    justify-content: center;
    height: 37px;
    margin-top: 10px;
    position: relative;
    div{
      &:nth-child(1){
        margin-left: 0px;
      }
      margin-left: 10px;
    }
  }
  .clear{
    width:23px;
    height:15px;
    position: absolute;
    right: 25px;
    bottom: 10px;
  }
}

.world{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4px;
  justify-content: space-between;
  div{
    margin-top: 7px;
  }
}
// button bottom
.botButs{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  background-color: rgba(249,249,249,1);
  .share{
    width:189px;
    height:70px;
    background:rgba(255,109,109,1);
    border-radius:16px;
    color: #FFFFFF;
    box-shadow: 0px 3px 0px 4px #E6E6E6;
    .shareLeft{
      float: left;
      font-size:30px;
      font-family:PingFangSC-Semibold,PingFang SC;
      font-weight:600;
      line-height: 42px;
      margin-left: 21px;
    }
    .shareRight{
      float: left;
      text-align: right;
      font-size:11px;
      font-family:PingFangSC-Semibold,PingFang SC;
      font-weight:600;
      line-height: 16px;
      margin-left: 15px;
    }

  }
  .tips{
    width:112px;
    height:70px;
    background:rgba(95,179,240,1);
    border-radius:16px;
    color: #FFFFFF;
    font-size:18px;
    letter-spacing:4px;
    font-weight: 800;
    box-shadow: 0px 3px 0px 4px #E6E6E6;
    .tipsBottom{
      display: flex;
      justify-content: center;
      margin-top: 6px;
      img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }
}

// popup
.popupBox{
  .mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background:rgba(0,0,0,0.3);
  }
  .popHint{
    width:375px;
    height:250px;
    background:rgba(255,255,255,1);
    border-radius:11px 11px 0 0px;
    position: fixed;
    bottom: -250px;
    left: 0;
    z-index: 12;
    animation: mymove 1s 1 forwards;
    -webkit-animation: mymove .5s 1 forwards;
    @keyframes mymove
    {
      from {bottom:-250px;}
      to {bottom:0px;}
    }
  }
  .popupCoins{
    width: 195px;
    height: 40px;
    margin: 20px auto;
    background-image: url(../../assets/group.png);
    background-size: 195px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      font-size:26px;
      font-family:Roboto-Black,Roboto;
      font-weight:900;
      color:rgba(255,255,255,1);
      line-height:30px;
      letter-spacing:1px;
      line-height: 27px;
      &:nth-child(1){
        position: relative;
        top: -1px;
      }
    }
    img{
      width: 27px;
      height: 27px;
      margin-left: 12px;
    }
  }
  .popupWorld{
    width:289px;
    margin: 30px auto;
    font-size:14px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(153,153,153,1);
    line-height:21px;
    letter-spacing:1px;
  }
  .popupNext{
    width:185px;
    height:59px;
    background:rgba(67,145,201,1);
    border-radius:16px;
    font-size:18px;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:25px;
    letter-spacing:1px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 3px 0px 4px #E6E6E6;
  }
}
// achievement
.achievement{
  .hints{
    width:335px;
    height:402px;
    background:rgba(255,216,0,1);
    box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
    border-radius:19px;
    padding-top: 21px;
    margin-top: 12px;
    position: relative;
    .thinkImg{
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -50px;
    }
    .hintWorlds{
      width:269px;
      height:269px;
      background:rgba(255,255,255,1);
      box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
      border-radius:14px;
      margin: 0 auto;
    }
    .rotateBg{
      width:128px;
      height:128px;
      margin: 11px auto 0px;
      position: relative;
      .rotateImg{
        width:128px;
        height:128px;
        position: absolute;
        left: 0;
        top: 0;
        animation: play 1.5s linear infinite;
        -webkit-animation: play 1.5s linear infinite;
        @keyframes play{
          from { transform: rotate(0deg);}
          to { transform: rotate(180deg);}
        };
      }
      .achieveBg{
        position: absolute;
        left: 22px;
        top: 22px;
        width:84px;
        height:84px;
      }
    }
    .getAchie{
      height:18px;
      font-size:16px;
      font-weight:600;
      color:rgba(51,51,51,1);
      line-height:18px;
      letter-spacing:1px;
      text-align: center;
      margin-top: 4px;
      opacity: 0; 
      animation: showAch .5s .5s forwards;
      -webkit-animation: showAch .5s .5s forwards;
      @keyframes showAch
      {
        from {
          opacity: 0; 
          visibility: hidden
        }
        to { 
          opacity: 1;
          visibility: visible
        }
      }
    }
    .achieveName{
      width:174px;
      height:36px;
      background:rgba(255,216,0,1);
      border-radius:18px;
      font-size:18px;
      font-weight:600;
      color:rgba(255,255,255,1);
      line-height:36px;
      letter-spacing:1px;
      text-shadow:0px 1px 0px rgba(0,0,0,0.1);
      margin: 10px auto;
      text-align: center;
      margin-bottom: 16px;
      opacity: 0; 
      animation: showName .5s 1s forwards;
      -webkit-animation: showAch .5s 1s forwards;
      @keyframes showName
      {
        from {
          opacity: 0; 
          visibility: hidden
        }
        to { 
          opacity: 1;
          visibility: visible
        }
      }
    }
    .otherAch{
      height:18px;
      font-size:16px;
      font-weight:600;
      color:rgba(51,51,51,1);
      line-height:18px;
      letter-spacing:1px;
      text-align: center;
      opacity: 0; 
      animation: showOther .5s 1.5s forwards;
      -webkit-animation: showOther .5s 1.5s forwards;
      @keyframes showOther
      {
        from {
          opacity: 0; 
          visibility: hidden
        }
        to { 
          opacity: 1;
          visibility: visible
        }
      }
    }
    .rewardCoins{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      font-weight:600;
      font-size:16px;
      color:rgba(51,51,51,1);
      img{
        width: 23px;
        height: 23px;
        border-radius: 50%;
        margin-right: 7px;
        opacity: 0; 
        animation: showImg .5s 2s forwards;
        -webkit-animation: showImg .5s 2s forwards;
        @keyframes showImg
        {
          from {
            opacity: 0; 
            visibility: hidden
          }
          to { 
            opacity: 1;
            visibility: visible
          }
        }
      }
      .addCoins{
        opacity: 0; 
        animation: showSpan .5s 2.5s forwards;
        -webkit-animation: showSpan .5s 2.5s forwards;
        @keyframes showSpan
        {
          from {
            opacity: 0; 
            visibility: hidden
          }
          to { 
            opacity: 1;
            visibility: visible
          }
        }
      }
    }
  }
  .botButtons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    opacity: 0; 
    animation: showBut .5s 3s forwards;
    -webkit-animation: showBut .5s 3s forwards;
    @keyframes showBut
    {
      from {
        opacity: 0; 
        visibility: hidden
      }
      to { 
        opacity: 1;
        visibility: visible
      }
    }
    .btnShare{
      width:72px;
      height:54px;
      background:rgba(255,109,109,1);
    }
    button{
      box-shadow: 0px 3px 0px 4px #E6E6E6;
      border-radius:16px;
      font-size:18px;
      font-weight:600;
      color:rgba(255,255,255,1);
      letter-spacing:1px;
    }
    .btnConfirm{
      width:185px;
      height:54px;
      background:rgba(95,179,240,1);
      margin-left: 25px;
    }
  }
}
// passbarrier
.passBut{
  display: flex;
  justify-content: center;
  .newbut{
    width:249px;
    height:54px;
    background:rgba(95,179,240,1);
    border-radius:16px;
    margin: 23px 0;
    box-shadow: 0px 3px 0px 4px #E6E6E6;
    p{
      &:nth-child(1){
        font-size:20px;
        font-family:PingFangSC-Semibold,PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
        line-height:25px;
        letter-spacing:1px;
      }
      &:nth-child(2){
        font-size:12px;
        font-family:PingFangSC-Semibold,PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
        line-height:25px;
        letter-spacing:1px;
      }
    }
  }
}
.passBarrier{
  width:335px;
  background:rgba(255,216,0,1);
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
  border-radius:19px;
  margin-top: 20px;
  .passworld{
    padding-top: 20px;
    text-align: center;
    font-weight:600;
    color:rgba(51,51,51,1);
    font-size: 20px;
    letter-spacing:1px;
    margin: 20px 0;
  }
  .newStart{
    font-size:14px;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:20px;
    letter-spacing:7px;
    text-align: center;
  }
  .thinkImg{
    width: 110px;
    height: 110px;
    margin: 0 auto;
    display: block;
    font-size: 0;
  }
  .barrierInfo{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 269px;
    justify-content: space-between;
    .barrierLevel,.barrierCoins{
      text-align: center;
      flex: 1;
      p{
        &:nth-child(1){
          font-size:14px;
          font-weight:600;
          color:rgba(51,51,51,1);
          line-height:14px;
          letter-spacing:1px;
        }
        &:nth-child(2){
          font-size:29px;
          font-weight:600;
          color:#fff;
          line-height:40px;
          letter-spacing:1px;
        }
      }
    }
  }
  .line{
    width:269px;
    height:1px;
    background:rgba(255,255,255,1);
    margin: 20px auto;
  }
  .showImg{
    margin: 0 auto;
    padding-bottom: 1px;
    width:269px;
    // height:222px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
    border-radius:14px;
    .commonWorld{
      height:18px;
      font-size:16px;
      font-weight:600;
      color:rgba(51,51,51,1);
      line-height:18px;
      letter-spacing:1px;
      text-align: center;
      margin-top: 4px;
    }
    .achieveName{
      width:174px;
      height:36px;
      background:rgba(255,216,0,1);
      border-radius:18px;
      font-size:20px;
      font-weight:600;
      color:rgba(255,255,255,1);
      line-height:36px;
      letter-spacing:1px;
      text-shadow:0px 1px 0px rgba(0,0,0,0.1);
      margin: 10px auto;
      text-align: center;
      margin-bottom: 16px;
    }
    .rotateBg{
      width:128px;
      height:128px;
      margin: 11px auto 0px;
      position: relative;
      .rotateImg{
        width:128px;
        height:128px;
        position: absolute;
        left: 0;
        top: 0;
        animation: play 1.5s linear infinite;
        -webkit-animation: play 1.5s linear infinite;
        @keyframes play{
          from { transform: rotate(0deg);}
          to { transform: rotate(180deg);}
        };
      }
      .achieveBg{
        position: absolute;
        left: 22px;
        top: 22px;
        width:84px;
        height:84px;
      }
    }
  }
}