.topBar{
  display: flex;
  line-height: 32px;
  margin-top: 8px;
}
.leftBack{
  width: 18px;
  height: 32px;
}

.coinBox{
  width:121px;
  height:32px;
  background:rgba(255,216,0,1);
  border-radius:16px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  img{
    width: 23px;
    height: 23px;
    margin-left: 6px;
  }
  span{
    color: #fff;
    font-size:17px;
    font-family:Roboto-Black,Roboto;
    font-weight:900;
    color:rgba(255,255,255,1);
    letter-spacing:1px;
    margin-left: 20px;
  }
}

.gameBox{
  padding: 0 23px;
  background:rgba(249,249,249,1);
}

// explain
.explain{
  width:330px;
  height:320px;
  background:rgba(255,255,255,1);
  border-radius:11px;
  padding: 15px 15px 0;
  margin-top: 12px;
  box-shadow: 0px 0px 10px 0px rgba(181, 181, 181, 0.3);
  font-size:0;
  .levelTitle{
    font-size:28px;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(96,96,96,1);
    line-height:40px;
    letter-spacing:2px;
    height:40px;
    margin-bottom: 10px;
  }
  .idiomImg{
    width:300px;
    height:200px;
  }
  .chenyu{
    display: flex;
    justify-content: center;
    height: 37px;
    margin-top: 10px;
    div{
      &:nth-child(1){
        margin-left: 0px;
      }
      margin-left: 10px;
    }
  }
}

.world{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 17px;
  justify-content: space-between;
  div{
    margin-top: 10px;
  }
}