$filter-input-small-width: 100px; // 小输入框宽度
$filter-input-middle-width: 150px; // 中输入框框度
$filter-input-large-width: 200px; // 大输入框宽度
$border-color: #ccc; // 输入框border颜色
$text-font-size: 14px; // 字体大小

.input-label-wrapper {
  display: inline-block;
  .filter-input-small,
  .filter-input-middle,
  .filter-input-large {
    margin-left: 10px;
  }
}

.input-label-wrapper input:hover, .input-label-wrapper input:focus  {
  border-color: #FF9A2F;
}


.no-label {
  .filter-input-large,
  .filter-input-middle,
  .filter-input-small {
    margin-left: 0;
    padding: none;
  }
}

.filter-input-small,
.filter-input-middle,
.filter-input-large {
  box-sizing: border-box;
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: $text-font-size;
  border: 1px solid $border-color;
  border-radius: 4px;
}
.filter-input-small {
  max-width: $filter-input-small-width;
  width: 5vw;
}
.filter-input-middle {
  max-width: $filter-input-middle-width;
}
.filter-input-large {
  max-width: $filter-input-large-width;
  width: 7vw;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.ant-input:focus {
  box-shadow: 0 0 0 1px rgba(250, 153, 48, 0.1)!important;
}
