.header-left {
  width: 100%;
  height: 48px;
  position: relative;
}
.left-nav {
  .left-nav {
    padding-left: 176px;
  }
  li {
    display: inline-block;
    line-height: 46px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    height: 46px;
    &:hover {
      background: #242529;
      color: #ff9a2f;
      height: 46px;
      .second-nav {
        // display: block;
        visibility: visible;
      }
    }
    i {
      display: inline-block;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      vertical-align: middle;
    }
  }

  .route_active {
    color: #ff9a2f;
    background: #242529;
  }
  .s_route_active {
    color: #ff9a2f;
  }
  .no_activc_0 i {
    background: url('~assets/order@2x.png') no-repeat center center;
    background-size: contain;
    height: 48px;
  }

  .no_activc_0:hover i {
    background: url('~assets/orders@2x.png') no-repeat center center;
    background-size: contain;
    height: 46px;
  }

  .active_0 i {
    background: url('~assets/orders@2x.png') no-repeat center center;
    background-size: contain;
    height: 46px;
  }
  .no_activc_1 i {
    background: url('~assets/lending@2x.png') no-repeat center center;
    background-size: contain;
    height: 46px;
  }
  .no_activc_1:hover i {
    background: url('~assets/lendings@2x.png') no-repeat center center;
    background-size: contain;
    height: 46px;
  }
  .active_1 i {
    background: url('~assets/lendings@2x.png') no-repeat center center;
    background-size: contain;
    height: 46px;
  }
  .no_activc_2 i {
    background: url('~assets/repayment@2x.png') no-repeat center center;
    background-size: contain;
    height: 46px;
  }
  .no_activc_2:hover i {
    background: url('~assets/repayments@2x.png') no-repeat center center;
    background-size: contain;
    height: 46px;
  }
  .active_2 i {
    background: url('~assets/repayments@2x.png') no-repeat center center;
    background-size: contain;
    height: 46px;
  }
  .no_activc_3 i {
    background: url('~assets/setting.png') no-repeat center center;
    background-size: contain;
    height: 48px;
  }
  .no_activc_3:hover i {
    background: url('~assets/setting-active.png') no-repeat center center;
    background-size: contain;
    height: 48px;
  }
  .active_3 i {
    background: url('~assets/setting-active.png') no-repeat center center;
    background-size: contain;
    height: 48px;
  }

  .no_activc_4 i {
    background: url('~assets/Content@2x.png') no-repeat center center;
    background-size: contain;
    height: 48px;
  }
  .no_activc_4:hover i {
    background: url('~assets/Content-active@2x.png') no-repeat center center;
    background-size: contain;
    height: 48px;
  }
  .active_4 i {
    background: url('~assets/Content-active@2x.png') no-repeat center center;
    background-size: contain;
    height: 48px;
  }
}
.second-nav {
  position: absolute;
  left: 0;
  top: 46px;
  height: 46px;
  width: 100%;
  background-color: #2c2e37;
  opacity: 0.95;
  // display: none;
  visibility: hidden;
  padding-left: 110px;
  z-index: 2;
  li {
    padding: 0 30px;
  }
}

.no_activc_3,
.active_3 {
  .second-nav {
    padding-left: 550px;
  }
}
