.page {
    padding: 10px;
}

.header {
    border-bottom: 1px solid #b8c6b5;
    line-height: 60px;
    text-align: center;

    >span {
        position: relative;
        color: #333;
        font-size: 18px;

        &:before {
            content: '';
            margin-top: 25px;
            left: -20px;
            display: inline-block;
            position: absolute;
            height: 10px;
            width: 10px;
            background: #ff9a2f;
        }

        &:after {
            content: '';
            margin-top: 25px;
            right: -20px;
            display: inline-block;
            position: absolute;
            height: 10px;
            width: 10px;
            background: #ff9a2f;
        }
    }
}