@import '../../global/style.scss';
$switch-width: 80px; // 开关宽度
$switch-height: 30px; // 开关高度
$switch-loading-icon-width: 26px; // 开关图标宽度
$switch-checked-color: $theme-color; // 开关开启时颜色
$switch-font-size: 14px; // 开关按钮文字字体大小

.filter-item {
  display: inline-block;
  margin: 5px 10px;
}

.filter-switch-label {
  margin-right: 10px;
}

.switch-wrap {
  display: inline-block
}

// 自动放款开关调整
.filter-switch-item {
  .ant-switch {
    width: $switch-width;
    height: $switch-height;
    line-height: $switch-height;
  }
  .ant-switch-loading-icon,
  .ant-switch:after {
    width: $switch-loading-icon-width;
    height: $switch-loading-icon-width;
  }
  .ant-switch-checked {
    background-color: $switch-checked-color;
  }
  .ant-switch-checked .ant-switch-inner,
  .ant-switch-inner {
    font-size: $switch-font-size;
  }
}

.switch-wrap {
  display: inline-block
}
