// 颜色
$theme-bg: #f1f1f1; // 大背景颜色
$theme-color: #ff9a2f; // 主色调
$sub-color: #ff7e2a; // 辅色调

$btn-color: #ff9a2f; // 主按钮颜色
$btn-active-color: rgb(250, 159, 61); //主按钮按下颜色
$btn-hover-color: rgb(250, 159, 61); // 主按钮鼠标放上去颜色

$btn-sub-color: #FF9A2F; // 辅按钮颜色
$btn-active-sub-color: rgb(250, 159, 62); // 辅按钮按下颜色
$btn-hover-sub-color: rgb(250, 159, 62); // 辅按钮鼠标放上去颜色

$btn-sub-grey: #2c2e37; // 辅色-深灰
$btn-active-sub-grey: rgb(54, 56, 65); // 辅色按钮按下颜色-深灰
$btn-hover-sub-grey: rgb(54, 56, 65); // 辅色按钮鼠标放上去颜色-深灰

$btn-sub-blue: #3c80e6; // 辅色-blue
$btn-active-sub-blue: rgb(70, 135, 233); // 辅色按钮按下颜色-blue
$btn-hover-sub-blue: rgb(70, 135, 233); // 辅色按钮鼠标放上去颜色-blue

$btn-sub-blue: #5c85d5; // 辅色-蓝色
$btn-active-sub-blue: #5378c2; // 辅色按钮按下颜色-深蓝
$btn-hover-sub-blue: #6591eb; // 辅色按钮鼠标放上去颜色-浅蓝色

$btn-cancle-color: #66697a; // 辅助按钮2,灰色按钮
$btn-active-cancle-color: #515361;
$btn-hover-cancle-color: #7a7e92;

$font-color: #666; // 字体颜色
$font-hightlight-color: #999; // 字体颜色浅色
$font-deep-color: #333; // 深色字体

$menu-bar-color: #373f4b; // 菜单栏色
$menu-bar-active-color: #2a3039; //菜单栏菜单选中颜色
$menu-font-color: #ccd4e0; // 菜单栏菜单字体颜色
$border-color: #ccc; // 边框线颜色
$list-bg-color: #f3f7f2; // 列表背景颜色
$list-bg-border-color: #ededed; // 列表背景线颜色
$part-line-color: #e3e3e3; // 分割线颜色
$thead-bg-color: #e3e3e3; // 表头背景颜色
$tbody-bg-color: #fff; // 表格内容背景色
$table-line-color: #ededed; // 表格边框线颜色
$table-raw-hover-color: #f3f7f2; // 表格行鼠标放上去的颜色
$font-blue: #2777e5; // 蓝色字体

// 字号
$title-font-size-large: 18px;
$title-font-size: 16px;
$text-font-size: 14px;
$text-font-size-small: 12px;

// px替换成rem
@function px2rem($value, $base-font-size: 75) {
  @return ($value / $base-font-size) * 1rem;
}
@mixin auto-center() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 字体颜色
.green-color {
  color: #1ea50f;
}
.orange-color {
  color: #ff7e2a;
}
.blue-color {
  color: #2777e5;
}
.red {
  color: #df1818;
}
.green {
  color: #0ca00f;
}

// 统一主色按钮
.theme-btn {
  display: inline-block;
  padding: 6px 10px;
  background-color: $btn-color;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-color;
  }
  &:active {
    background-color: $btn-active-color;
  }
}
.theme-btn-small {
  display: inline-block;
  padding: 6px 10px;
  background-color: $btn-color;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-color;
  }
  &:active {
    background-color: $btn-active-color;
  }
}
.theme-btn-large {
  display: inline-block;
  padding: 0 20px;
  line-height: 36px;
  background-color: $btn-color;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-color;
  }
  &:active {
    background-color: $btn-active-color;
  }
}

// 统一的辅色按钮: orange
.sub-btn {
  display: inline-block;
  padding: 10px 18px;
  background-color: $btn-sub-color;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-sub-color;
  }
  &:active {
    background-color: $btn-active-sub-color;
  }
}
.sub-btn-small {
  display: inline-block;
  padding: 6px 10px;
  background-color: $btn-sub-color;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-sub-color;
  }
  &:active {
    background-color: $btn-active-sub-color;
  }
}
.sub-btn-large {
  display: inline-block;
  padding: 13px 20px;
  background-color: $btn-sub-color;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-sub-color;
  }
  &:active {
    background-color: $btn-active-sub-color;
  }
}

// 统一辅色按钮2: grey
.sub-btn-grey {
  display: inline-block;
  padding: 10px;
  background-color: $btn-sub-grey;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-sub-grey;
  }
  &:active {
    background-color: $btn-active-sub-grey;
  }
}
.sub-btn-grey-small {
  display: inline-block;
  padding: 6px 10px;
  background-color: $btn-sub-grey;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-sub-grey;
  }
  &:active {
    background-color: $btn-active-sub-grey;
  }
}
.sub-btn-grey-large {
  display: inline-block;
  white-space: nowrap;
  padding: 13px 20px;
  background-color: $btn-sub-grey;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-sub-grey;
  }
  &:active {
    background-color: $btn-active-sub-grey;
  }
}

// 统一辅色按钮2: blue
.sub-btn-blue {
  display: inline-block;
  padding: 10px;
  background-color: $btn-sub-blue;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-sub-blue;
  }
  &:active {
    background-color: $btn-active-sub-blue;
  }
}
.sub-btn-blue-small {
  display: inline-block;
  padding: 6px 10px;
  background-color: $btn-sub-blue;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-sub-blue;
  }
  &:active {
    background-color: $btn-active-sub-blue;
  }
}
.sub-btn-blue-large {
  display: inline-block;
  white-space: nowrap;
  padding: 10px 16px;
  background-color: $btn-sub-blue;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-sub-blue;
  }
  &:active {
    background-color: $btn-active-sub-blue;
  }
}

// 统一取消按钮
.cancle-btn {
  display: inline-block;
  padding: 10px;
  background-color: $btn-cancle-color;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-cancle-color;
  }
  &:active {
    background-color: $btn-active-cancle-color;
  }
}
.cancle-btn-samll {
  display: inline-block;
  padding: 6px 10px;
  background-color: $btn-cancle-color;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-cancle-color;
  }
  &:active {
    background-color: $btn-active-cancle-color;
  }
}
.cancle-btn-large {
  display: inline-block;
  padding: 13px 20px;
  background-color: $btn-cancle-color;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $btn-hover-cancle-color;
  }
  &:active {
    background-color: $btn-active-cancle-color;
  }
}

.hidden {
  display: none !important;
}

// :global {
//   .ant-table-thead > tr > th {
//     background-color: #e3e3e3;
//     text-align: center;
//     padding: 10px;
//   }
//   .ant-table-tbody > tr > td {
//     text-align: center;
//     font-size: 12px;
//     height: 48px;
//   }
//   .ant-table-thead > tr > th.ant-table-column-sort {
//     background-color: #e3e3e3;
//   }
//   .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
//     background-color: #e3e3e3;
//     opacity: 0.8;
//   }
//   .ant-input-lg {
//     height: 36px;
//   }
// }

// 块级元素转成行内元素
.inline-block {
  display: inline-block;
  vertical-align: middle;
}

// 外边距
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}

// 底部容器
.footer-wrapper {
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin-top: 10px;
}
.layout-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .layout-main-cons {
    flex: 1;
  }
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
  color: hsl(0,0%,50%) !important;
}
::-moz-placeholder { /* Firefox 19+ */  
  color: hsl(0,0%,50%) !important;
}
:-ms-input-placeholder { /* IE 10+ */ 
 color: hsl(0,0%,50%) !important;
}
:-moz-placeholder { /* Firefox 18- */ 
 color: hsl(0,0%,50%) !important;
}


.operating{
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}