.info-content-contact{
    padding-left: 8px;
    .info-item{
        .normal-text-com{
            &:nth-child(1){
                width: 50%
            }
            &:nth-child(2){
                width: 50%
            }
            text-align: left;
        }
    }
}