.info-content-gps {
    padding-left: 8px;
    .info-item {
        .normal-text-com {
            text-align: left;
            width: 50%;
            &:nth-of-type(1) {
                width: 100%;
            }
        }
    }
}