.content {
  margin-bottom: 0;
  padding: 0 20px;
}

.item_top {
  display: flex;
  padding: 12px 0;

  >div {
    flex: 1;
    display: flex;

    &:nth-of-type(3) {
      flex: 1.5;
    }

    &:nth-last-child(1) {
      flex: none;
    }

    >span {
      &:nth-of-type(2) {
        margin: 0 10px;
        color: #333;
        font-weight: 600;
        word-break: break-all;
      }
    }
  }

  img {
    width: 20px;
    cursor: pointer;
  }

  .view_btn {
    color: #2777e5;
    cursor: pointer;

    &:hover {
      color: #5099f2;
    }
  }
}