.wrapper{
  width:37px;
  height:37px;
  border-radius:6px;
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(116,85,61,1);
  line-height:37px;
  letter-spacing:1px;
}