.wrapper{
  width:37px;
  height:37px;
  border-radius:6px;
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  line-height:37px;
  letter-spacing:1px;
  text-align: center;
}
.init{
  border-radius:6px;
  border:1px solid rgba(251,220,0,1);
}
.fill{
  background:rgba(255,229,88,1);
  color:rgba(116,85,61,1);
  box-shadow: 0px 2px 0px 0px #F9CE15;
}
.empty{
  background:rgba(255,237,160,1);
}
.error{
  color:rgba(255,109,109,1);
  background:rgba(247,247,247,1);
}