.modal {
    position: fixed;
    width: 410px;
    height: 200px;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    background: #fff;
    z-index: 9999;
    box-shadow: inset 0 0 1px 0 #000;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4f5362;
    opacity: .55;
    z-index: 9998;
}

.title {
    position: relative;
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 18px;
    color: #404040;
    background-color: #f0f0f0;
    border-radius: 4px 4px 0 0;

    >i {
        position: absolute;
        top: 13px;
        right: 18px;
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url('../../assets/close.png') no-repeat;
        background-size: 100%;
        cursor: pointer;
    }
}

.content {
    width: 100%;
    height: 100px;
    padding: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator {
    width: 100%;
    height: 50px;
    text-align: center;
}

.operator_cancel,
.operator_confirm {
    width: 96px;
    border: none;
    outline: none;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 3px;
}

.operator_cancel {
    color: #404040;
    background-color: #fff;
    border: 1px solid #ddd;
}

.operator_confirm {
    color: #fff;
    background-color: #ff9a2f;
    border: 1px solid #ff9a2f;
    margin-right: 20px;
}

.operator_confirm:hover {
    background-color: #ffba11;
    border: 1px solid #ffba11;
}

.operator_confirm:active {
    background-color: #e58b29;
    border: 1px solid #e58b29;
}

.operator_cancel:hover {
    color: #ff9a2f;
    border: 1px solid #ff9a2f;
}

.operator_cancel:active {
    color: #ff9a2f;
    border: 1px solid #ff9a2f;
}

.hide {
    display: none;
}

.show {
    display: block;
}


.enter {
    transform: scale(0);
}

.enter_active {
    transform: scale(1.1);
    transition: all .2s linear;
}

.enter_end {
    transform: scale(1);
    transition: all .1s linear;
}

.leave {
    transform: scale(1);
}

.leave_active {
    transform: scale(1.1);
    transition: all .1s linear;
}

.leave_end {
    transform: scale(0);
    transition: all .2s linear;
}