.header{
    background-color: #2C2E37;
    position: relative;
    height: 48px;
    border-bottom: 2px solid #FF9A2F;
    .logo{
        position: absolute;
        margin: 4px 15px 10px 20px;
        width: 134px;
        height: 40px;
        background: url('~assets/logo@2x.2.png') no-repeat center center;
        cursor: pointer;
        z-index: 120;
    }
    .right-user{
        position: absolute;
        right: 0px;
        top: 0;
        height: 46px;
        .wall-line{
            display: inline-block;
            position: absolute;
            right: 266px;
            top: 0;
            width: 1px;
            height: 40px;
            background-color: #2c333c;
        }
    }
}