.supplement-info-box {
    padding: 18px 8px;
}

.supplement-info-item {
    display: inline-block;
    .supplement-info-item-img {
        display: block;
        width: 228px;
        height: 146px;
        border: 1px solid #ccc;
        padding: 2px;
        cursor: pointer;
    }
    .supplement-info-item-title {
        width: 228px;
        text-align: center;
        padding: 10px 0;
        color: #666;
    }
}

.supplement-info-item {
    width: 50%;
    min-width: 230px;
}