.info-content-account {
  position: relative;
  padding-left: 8px;
  position: relative;
  .normal-text-com {
    text-align: left;
    width: 100%;
  }
}

.bank-auth-btn {
  position: absolute;
  top: -34px;
  right: 4px;
}

.bank-auth-btn-hide {
  visibility: hidden;
}