.sms-record-box {
  position: relative;
  margin-top: 6px;
  font-size: 12px;
  .header-right {
    position: absolute;
    top: -38px;
    right: 0;
    z-index: 1;
    button {
      margin-left: 30px;
      padding: 0 8px;
      line-height: 28px;
      font-size: 12px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .sms-status {
    color: #07AA1E
  }
}
