@import '~global/style.scss';
// 设置背景
.login-bg {
  width: 100vw;
  height: 100vh;
  background: url('~assets/bg@2x.png') no-repeat center;
  background-size: 110vw 180vh;
  .login-wapper {
    position: relative;
    top: 50%;
    left: 50%;
    width: 1006px;
    height: 506px;
    transform: translate(-50%, -50%);
    background: url('~assets/wapper@2x.png') no-repeat center center;
    background-size: 100% 100%;
  }
}

// 布局表格样式
.login-form {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-54%, -50%);
  text-align: center;
  img {
    margin-bottom: 33px;
    width: 222px;
    height: 50px;
  }
  div {
    position: relative;
    margin-bottom: 14px;
    padding: 10px 50px;
    width: 260px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    background-color: #fff;
    .icon-username,
    .icon-password {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
    }
    .icon-username {
      width: 23px;
      height: 16px;
      background: url('~assets/Email@2x.png') no-repeat center center;
      background-size: contain;
    }
    .icon-password {
      width: 20px;
      height: 20px;
      background: url('~assets/password@2x.png') no-repeat center center;
      background-size: contain;
    }
    .icon-eye {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background: url('~assets/eye-close@2x.png') no-repeat center center;
      background-size: contain;
    }
    .icon-eye-visable {
      background: url('~assets/eye-open@2x.png') no-repeat center center;
      background-size: contain;
    }
    &.focused {
      border-color: $theme-color;
      .icon-username {
        background: url('~assets/Emails@2x.png') no-repeat center center;
        background-size: contain;
      }
      .icon-password {
        background: url('~assets/passwords@2x.png') no-repeat center center;
        background-size: contain;
      }
      input {
        border-color: $theme-color;
      }
    }
  }
  input {
    width: 100%;
    line-height: 20px;
    color: $font-color;
    &[type='submit'] {
      margin-top: 25px;
      width: 264px;
      height: 40px;
      background-color: $btn-color;
      border-radius: 4px;
      cursor: pointer;
      color: #fff;
      font-size: $title-font-size;  
      font-weight: bold;
      &:hover {
        background-color: $btn-hover-color;
      }
      &:active {
        background-color: $btn-active-color;
      }
    }
  }
}
