.page {
    padding: 10px;
}

.action {
    text-align: center;

    >a,
    span {
        margin-right: 10px;
        color: #2777e5;
        cursor: pointer;

        &:hover {
            color: #5099f2;
        }
    }
}