$border-color: #ccc; // 输入框border颜色
$text-font-size: 14px; // 字体大小
$select-height: 34px; // select高度
$border-radius: 4px; // border边框圆角大小

.tree-select-wrapper {
  display: inline-block;
  // margin: 10px 0;
  // margin-top: -2px;
  max-width: 150px;
  width: 11vw;
  vertical-align: middle;
  // 调整select插件默认样式
  .ant-select {
    height: $select-height;
    border-color: $border-color;
    border-radius: $border-radius;
  }
  .ant-select-selection {
    height: $select-height;
    max-width: 150px;
    width: 11vw;
  }
  .ant-select-selection__placeholder {
    height: $select-height;
    line-height: $select-height;
    transform: translate(0, -50%);
    margin-top: 0;
  }
  .ant-select-selection__rendered {
    height: $select-height;
    line-height: $select-height;
  }
}
