.call-record-confirm {
  .call-record-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
  }
  .call-confirm-cons {
    width: 340px;
    height: 460px;
    position: fixed;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    z-index: 1001;
    border: 1px solid #6d6d6d;
    border-radius: 4px;
    text-align: left;
    .call-p {
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      color: #333;
      margin-top: 10px;
    }
    .call-title-name {
      text-align: left;
      font-size: 14px;
      line-height: 16px;
      height: 16px;
      margin-top: 23px;
      margin-left: 20px;
      font-weight: 500;
    }
    .call-description {
      width: 100%;
      margin-top: 10px;
      .desc-title-name {
        text-align: left;
        font-size: 14px;
        line-height: 16px;
        height: 16px;
        margin-left: 20px;
        font-family:SourceHanSansCN-Medium;
        font-weight:500;
      }
      .description-select {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        .select-css {
          width: 228px;
          height: 25px;
          line-height: 25px;
        }
      }
    }
    .show-status {
      width: 100%;
      margin-top: 10px;
      text-align: left;
      padding: 10px 40px;
      .call-radio-span {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        line-height: 30px;
        height: 30px;
        b {
          font-size: 12px;
        }
      }
      .call-radio-qgsb {
        width: 100%;
        font-weight: bold;
        margin: 2px 0;
        span {
          font-size: 12px;
        }
      }
    }
    .show-table {
      width: 340px;
      height: 42px;
      color: #333333;
      .show-left,
      .show-right {
        display: inline-block;
        height: 42px;
        line-height: 42px;
        width: 50%;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        border-bottom: 1px solid #eeeeee;
      }
      .show-light {
        color: #1ea50f;
        border-bottom: 1px solid #1ea50f;
      }
    }
    .call-text {
      display: block;
      width: 300px;
      min-height: 120px;
      margin: 30px auto;
      border: 0;
      border: 1px solid #ccc;
      position: absolute;
      top: 220px;
      left: 50%;
      margin-left: -150px;
      outline: none;
      padding: 10px;
      border-radius: 4px;
    }
    .call-span-cal {
      position: absolute;
      top: 375px;
      right: 20px;
    }
    .call-save {
      position: absolute;
      bottom: 20px;
      right: 70px;
    }
    .call-close {
      position: absolute;
      bottom: 20px;
      right: 190px;
      background-color: #66697a !important;
    }
  }
}
