.checkRepeatWrap{
  position: relative;
  margin-top: 20px;
}
.tableWrap{
  width: 80%;
  margin: 0 auto;
}
.rematchBtn {
  position: absolute;
  right: 69px;
  line-height: 40px;
  padding: 0 14px;
}