.con-nav-bar {
  display: flex;
  display: -webkit-flex;
}
.title_style {
  margin-bottom:0;
  li {
    position: relative;
    margin-left: 10px;
    display: inline-block;  
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    margin-bottom:0;
    &:nth-of-type(1) {
      margin-left: 0px;
    }
    &.active {
      background-color: #fff;
      color: #FF9A2F;
    }
    &:hover{
      background-color: #fff;
      color: #FF9A2F;
    }
  }
}
.icon{
  width: 6px;
  height: 6px;    
  position: absolute;
  right: 4px;
  top: 4px;
  border-radius: 50%;
  background:rgba(238,69,69,1);
}