.con-nav-bar {
  display: flex;
  display: -webkit-flex;
  & > ul {
    & > li {
      margin-left: 10px;
      display: inline-block;  
      text-align: center;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      color: #333;
      background-color: #f8f8f8;
      padding: 0px 10px 0px 10px;
      cursor: pointer;
      &:nth-of-type(1) {
        margin-left: 0px;
      }
      &.active {
        background-color: #fff;
        color: #FF9A2F;
      }
      &:hover{
        background-color: #fff;
        color: #FF9A2F;
      }
    }
  }
}
